---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <h1>Money for Millennials</h1>
    <p class="about">
      <p>Series 1 coming January 2019 | Fundamentals of Finance</p>
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>
